.reservesContainer{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.searchFormWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    gap: 20px;
    width: 450px;
    height: 300px;
    background-color: var(--color-silver-gray);
    border-radius: 12px;
    border: 1px solid black
}

.searchFormContainer {
    width: 80%;
    padding: 52px 0;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}

.input {
    height: 36px;
    border-radius: 6px;
}

.searchButton {
    width: 100%;
    height: 52px;
    background: var(--color-jasmine);
    border-radius: 8px;
    margin-top: 10px;
    font-size: large;
    cursor: pointer;
}

.parkingsDataWrapper{
    margin-inline: auto;
    width: 60%;
}

.parkingsDataTitle{
    text-align: center;
    margin-bottom: 20px;
}